
.cuadradoA
{
    background-color: yellow;
    height: 300px;
    width: 300px;
    font-size: 20px;
    
}

.cuadradoB
{
    background-color: green;
    height: 300px;
    width: 300px;
    font-size: 20px;
}